# zplug
bin/*
!bin/zplug-env
repos/*
.cache
cache
log
.gitignore.d/*
.error_log

# zsh
zcompdump
**/zcompdump
zcompdump.zwc
**/zcompdump.zwc

# a2x (man page)
*.xml
**/*.xml

# vim
*~
**/*~
*.swp
**/*.swp

# OS X
.DS_Store
**/.DS_Store

.ssh
